.projects__container{
    /* width: 900px; */
}

.projects__card{
    background-color: var(--container-color);
    border: 1px solid black;
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.projects__img{
    /* width: 60px; */
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.projects__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects__description{
    font-size: var(--small-font-size);
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-pagination-bullet{
    background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--title-color) !important;
}



.projects__button{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    /* justify-content: flex-end; */
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    margin-top: var(--mb-1);
}

.projects__button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.projects__button:hover .projects__button-icon{
    transform: translateX(00.25rem);
}




/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .projects__container{
        width: initial;
    }
    .projects__card{
        padding: 1.25rem 1.5rem;
    }
}
  
    
