.tech__info {
  display: grid;
  grid-template-columns: repeat(8, 110px);
  gap: .7rem;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.tech__box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1.5px solid rgba(97, 89, 89, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  padding: 1rem .5rem;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GLOW on hover */
.tech__box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.tech__icon .icon {
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  color: var(--title-color); 
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech__box:hover .icon {
  color: var(--hover-color);
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px var(--hover-color));
}


.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

/* Responsive Breakpoints */
@media screen and (max-width: 992px) {
  .tech__info {
    grid-template-columns: repeat(5, 100px);
  }
}

@media screen and (max-width: 768px) {
  .tech__info {
    grid-template-columns: repeat(4, 100px);
  }
}

@media screen and (max-width: 576px) {
  .tech__info {
    grid-template-columns: repeat(3, 100px);
  }
}

@media screen and (max-width: 350px) {
  .tech__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
